* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* cores dos cards */
    --bg-d2: hsl(179, 62%, 43%);
    --green: hsl(71, 73%, 54%);
    --white: hsl(204, 43%, 93%);
    --gray: hsl(218, 22%, 67%);
    --cyan-light: hsl(179, 47%, 52%);
    /* fonte */

    --ff: "Karla", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff);
    background-color: var(--gray);
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    cursor: pointer;
    transition: 300ms;

        &:hover {
            transform: scale(1.03);
        }
}

/* card que vao pegar o grid */

.d1 {
    grid-column: 1/3;
    grid-row: 1;
    background-color: var(--white);
    color: var(--gray);
    padding: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    

    h2 {
        color: var(--bg-d2);
        font-size: 20px;
        padding-bottom: 8px;
    }

    span {
        color: var(--green);
    }

    p {
        padding-block: 10px 20px;
        font-size: 16px;
    }
}

.d2 {
    grid-column: 1/2;
    grid-row: 2;
    background-color: var(--bg-d2);
    padding: 30px;
    color: var(--white);
    border-bottom-left-radius: 8px;

    h2 {
        
        font-size: 18px;
        padding-bottom: 1px;
    }   

    .precing {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-block: 10px;

        span {
            font-size: 30px;
            font-weight: 600;
        }

        p {
            opacity: 0.7;
            padding: 1px;
        }
    }

    p {
        font-size: 16px;
        padding-bottom: 20px;
    }

    button {
        padding: 10px;
        border: none;
        border-radius: 6px;
        width: 100%;
        color: var(--white);
        background-color: var(--green);
        box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.3);
        font-weight: bold;
        font-size: 16px;
        transition: 300ms;

        &:hover {
            transform: scale(1.03);
        }
    }
}

.d3 {
    grid-column: 2/3;
    grid-row: 2;
    padding: 30px;
    background-color: var(--cyan-light);
    color: var(--white);
    border-bottom-right-radius: 8px;

    h2 {
        padding-bottom: 10px;
    }
}

@media (max-width: 768px) {

    

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 80%;
        margin-block: 50px;
    }

    .d1 {
        grid-column: 1/2;
        grid-row: 1;
        h2 {
            font-size: 26px;
        }

        span {
            font-size: 18px;
        }

        p {
            color: var(--gray);
            font-size: 14px;
        }
    }
    .d2 {
        grid-column: 1/2;
        grid-row: 2;
        border-radius: 0;

        h2 {
            font-size: 23px;
            padding-bottom: 10px;
        }

        .precing {
            span {
                font-size: 50px;
            }

            p {
                font-weight: 100;
            }
        }

        button {
            margin-top: 10px;
            padding: 20px 25px;
            font-size: 20px;
        }
    }
    .d3 {
        grid-column: 1/2;
        grid-row: 3;
        border-bottom-left-radius: 8px;

        h2 {
            font-size: 27px;
        }
    }


}